{********************************************************************* ;
* A citation to the MCM website and the relevant mechanism          * ;
* construction protocols should be given in any publication using   * ;
* information obtained from this source, using the following or     * ;
* comparable wording:                                               * ;
* The chemical mechanistic information was taken from the Master    * ;
* Chemical Mechanism, MCM v3.3.1 (ref), via website:                  * ;
* http://mcm.leeds.ac.uk/MCM.                                       * ;
* The reference should be: (Jenkin et al., Atmos. Environ., 31, 81, * ;
* 1997; Saunders et al., Atmos. Chem. Phys., 3, 161, 2003), for     * ;
* non aromatic schemes; (Jenkin et al., Atmos. Chem. Phys., 3,  * ;
* 181, 2003; Bloss et al., Atmos. Chem. Phys., 5, 641, 2005), for   * ;
* aromatic schemes; (Jenkin et al., Atmos. Chem. Phys.,  12, * ;
* 5275, 2012), for the beta-caryophyllene scheme and (Jenkin et al., ;
* Atmos. Chem. Phys., 15, 11433, 2015), for the isoprene scheme.    * ;
********************************************************************* ;}
#INLINE F90_GLOBAL 
 REAL(dp)::M, N2, O2, RO2, H2O 
#ENDINLINE {above lines go into MODULE KPP_ROOT_Global}
#INCLUDE atoms 
#DEFVAR
HCHO = IGNORE ;
C2H5CHO = IGNORE ;
HCOCO = IGNORE ;
CH3NO3 = IGNORE ;
C2H5O2 = IGNORE ;
CH3OH = IGNORE ;
HOCH2CO2H = IGNORE ;
PPN = IGNORE ;
PHAN = IGNORE ;
HOCH2CO3 = IGNORE ;
PAN = IGNORE ;
C2H5CO3 = IGNORE ;
HCOCO3 = IGNORE ;
C2H5OOH = IGNORE ;
GLYOX = IGNORE ;
CH3CO2H = IGNORE ;
HCOCH2O2 = IGNORE ;
HCOCO3H = IGNORE ;
CH3O2NO2 = IGNORE ;
PERPROACID = IGNORE ;
HOCH2CH2O2 = IGNORE ;
PROPACID = IGNORE ;
C2H5O = IGNORE ;
HOCH2CHO = IGNORE ;
HYETHO2H = IGNORE ;
CH3CO3 = IGNORE ;
HOCH2CH2O = IGNORE ;
CH3CHO = IGNORE ;
CH3O = IGNORE ;
ETHOHNO3 = IGNORE ;
HOCH2CO3H = IGNORE ;
CH3O2 = IGNORE ;
ETHGLY = IGNORE ;
C2H5NO3 = IGNORE ;
C2H5OH = IGNORE ;
HCOCO2H = IGNORE ;
HCOCH2OOH = IGNORE ;
CH3OOH = IGNORE ;
HCOCH2O = IGNORE ;
CH3CO3H = IGNORE ;
{ Peroxy radicals. }
#INLINE F90_RCONST 
 !USE constants
 !end of USE statements 
 !
 ! start of executable statements
 RO2 = & 
 C(ind_HOCH2CH2O2) + C(ind_C2H5CO3) + C(ind_C2H5O2) + C(ind_CH3O2) + & 
   C(ind_CH3CO3) + C(ind_HCOCH2O2) + C(ind_HOCH2CO3) + C(ind_HCOCO3 ) 
 CALL mcm_constants(time, temp, M, N2, O2, RO2, H2O) 
#ENDINLINE {above lines go into the SUBROUTINES UPDATE_RCONST and UPDATE_PHOTO}
#EQUATIONS
{1.} 	 CH3OH + OH = HO2 + HCHO : 	2.85D-12*EXP(-345/TEMP) 	;
{2.} 	 C2H5OH + OH = C2H5O : 	3.0D-12*EXP(20/TEMP)*0.05 	;
{3.} 	 C2H5OH + OH = CH3CHO + HO2 : 	3.0D-12*EXP(20/TEMP)*0.9 	;
{4.} 	 C2H5OH + OH = HOCH2CH2O2 : 	3.0D-12*EXP(20/TEMP)*0.05 	;
{5.} 	 C2H5CHO + NO3 = C2H5CO3 + HNO3 : 	3.24D-12*EXP(-1860/TEMP) 	;
{6.} 	 C2H5CHO + OH = C2H5CO3 : 	4.9D-12*EXP(405/TEMP) 	;
{7.} 	 C2H5CHO = C2H5O2 + HO2 + CO : 	J(14) 	;
{8.} 	 HCHO = CO + HO2 + HO2 : 	J(11) 	;
{9.} 	 HCHO = H2 + CO : 	J(12) 	;
{10.} 	 NO3 + HCHO = HNO3 + CO + HO2 : 	5.5D-16 	;
{11.} 	 OH + HCHO = HO2 + CO : 	5.4D-12*EXP(135/TEMP) 	;
{12.} 	 C2H5O = CH3CHO + HO2 : 	2.4D-14*EXP(-325/TEMP)*O2 	;
{13.} 	 CH3CHO = CH3O2 + HO2 + CO : 	J(13) 	;
{14.} 	 NO3 + CH3CHO = HNO3 + CH3CO3 : 	1.4D-12*EXP(-1860/TEMP) 	;
{15.} 	 OH + CH3CHO = CH3CO3 : 	4.7D-12*EXP(345/TEMP)*0.95 	;
{16.} 	 OH + CH3CHO = HCOCH2O2 : 	4.7D-12*EXP(345/TEMP)*0.05 	;
{17.} 	 HOCH2CH2O2 + HO2 = HYETHO2H : 	1.53D-13*EXP(1300/TEMP) 	;
{18.} 	 HOCH2CH2O2 + NO = ETHOHNO3 : 	KRO2NO*0.005 	;
{19.} 	 HOCH2CH2O2 + NO = HOCH2CH2O + NO2 : 	KRO2NO*0.995 	;
{20.} 	 HOCH2CH2O2 + NO3 = HOCH2CH2O + NO2 : 	KRO2NO3 	;
{21.} 	 HOCH2CH2O2 = ETHGLY : 	2*(KCH3O2*7.8D-14*EXP(1000/TEMP))**0.5*RO2*0.2 	;
{22.} 	 HOCH2CH2O2 = HOCH2CH2O : 	2*(KCH3O2*7.8D-14*EXP(1000/TEMP))**0.5*RO2*0.6 	;
{23.} 	 HOCH2CH2O2 = HOCH2CHO : 	2*(KCH3O2*7.8D-14*EXP(1000/TEMP))**0.5*RO2*0.2 	;
{24.} 	 C2H5CO3 + HO2 = C2H5O2 + OH : 	KAPHO2*0.44 	;
{25.} 	 C2H5CO3 + HO2 = PERPROACID : 	KAPHO2*0.41 	;
{26.} 	 C2H5CO3 + HO2 = PROPACID + O3 : 	KAPHO2*0.15 	;
{27.} 	 C2H5CO3 + NO = NO2 + C2H5O2 : 	6.7D-12*EXP(340/TEMP) 	;
{28.} 	 C2H5CO3 + NO2 = PPN : 	KFPAN 	;
{29.} 	 C2H5CO3 + NO3 = C2H5O2 + NO2 : 	KRO2NO3*1.74 	;
{30.} 	 C2H5CO3 = C2H5O2 : 	1.00D-11*0.7*RO2 	;
{31.} 	 C2H5CO3 = PROPACID : 	1.00D-11*0.3*RO2 	;
{32.} 	 C2H5O2 + HO2 = C2H5OOH : 	4.3D-13*EXP(870/TEMP) 	;
{33.} 	 C2H5O2 + NO = C2H5NO3 : 	2.55D-12*EXP(380/TEMP)*0.009 	;
{34.} 	 C2H5O2 + NO = C2H5O + NO2 : 	2.55D-12*EXP(380/TEMP)*0.991 	;
{35.} 	 C2H5O2 + NO3 = C2H5O + NO2 : 	KRO2NO3 	;
{36.} 	 C2H5O2 = C2H5O : 	2*(KCH3O2*6.4D-14*(TEMP/300)**0*EXP(0/TEMP))**0.5*RO2*0.6 	;
{37.} 	 C2H5O2 = C2H5OH : 	2*(KCH3O2*6.4D-14*(TEMP/300)**0*EXP(0/TEMP))**0.5*RO2*0.2 	;
{38.} 	 C2H5O2 = CH3CHO : 	2*(KCH3O2*6.4D-14*(TEMP/300)**0*EXP(0/TEMP))**0.5*RO2*0.2 	;
{39.} 	 CH3O2 + HO2 = CH3OOH : 	3.8D-13*EXP(780/TEMP)*(1-1/(1+498*EXP(-1160/TEMP))) 	;
{40.} 	 CH3O2 + HO2 = HCHO : 	3.8D-13*EXP(780/TEMP)*(1/(1+498*EXP(-1160/TEMP))) 	;
{41.} 	 CH3O2 + NO = CH3NO3 : 	2.3D-12*EXP(360/TEMP)*0.001 	;
{42.} 	 CH3O2 + NO = CH3O + NO2 : 	2.3D-12*EXP(360/TEMP)*0.999 	;
{43.} 	 CH3O2 + NO2 = CH3O2NO2 : 	KMT13 	;
{44.} 	 CH3O2 + NO3 = CH3O + NO2 : 	1.2D-12 	;
{45.} 	 CH3O2 = CH3O : 	2*KCH3O2*RO2*7.18*EXP(-885/TEMP) 	;
{46.} 	 CH3O2 = CH3OH : 	2*KCH3O2*RO2*0.5*(1-7.18*EXP(-885/TEMP)) 	;
{47.} 	 CH3O2 = HCHO : 	2*KCH3O2*RO2*0.5*(1-7.18*EXP(-885/TEMP)) 	;
{48.} 	 CH3CO3 + HO2 = CH3CO2H + O3 : 	KAPHO2*0.15 	;
{49.} 	 CH3CO3 + HO2 = CH3CO3H : 	KAPHO2*0.41 	;
{50.} 	 CH3CO3 + HO2 = CH3O2 + OH : 	KAPHO2*0.44 	;
{51.} 	 CH3CO3 + NO = NO2 + CH3O2 : 	7.5D-12*EXP(290/TEMP) 	;
{52.} 	 CH3CO3 + NO2 = PAN : 	KFPAN 	;
{53.} 	 CH3CO3 + NO3 = NO2 + CH3O2 : 	4.0D-12 	;
{54.} 	 CH3CO3 = CH3CO2H : 	2*(K298CH3O2*2.9D-12*EXP(500/TEMP))**0.5*RO2*0.3 	;
{55.} 	 CH3CO3 = CH3O2 : 	2*(K298CH3O2*2.9D-12*EXP(500/TEMP))**0.5*RO2*0.7 	;
{56.} 	 HCOCH2O2 + HO2 = HCOCH2OOH : 	KRO2HO2*0.387 	;
{57.} 	 HCOCH2O2 + NO = NO2 + HCOCH2O : 	KRO2NO 	;
{58.} 	 HCOCH2O2 + NO3 = HCOCH2O + NO2 : 	KRO2NO3 	;
{59.} 	 HCOCH2O2 = GLYOX : 	2.00D-12*0.2*RO2 	;
{60.} 	 HCOCH2O2 = HCOCH2O : 	2.00D-12*0.6*RO2 	;
{61.} 	 HCOCH2O2 = HOCH2CHO : 	2.00D-12*0.2*RO2 	;
{62.} 	 HYETHO2H + OH = HOCH2CH2O2 : 	1.90D-12*EXP(190/TEMP) 	;
{63.} 	 HYETHO2H + OH = HOCH2CHO + OH : 	1.38D-11 	;
{64.} 	 HYETHO2H = HOCH2CH2O + OH : 	J(41) 	;
{65.} 	 ETHOHNO3 + OH = HOCH2CHO + NO2 : 	8.40D-13 	;
{66.} 	 HOCH2CH2O = HO2 + HCHO + HCHO : 	9.50D+13*EXP(-5988/TEMP) 	;
{67.} 	 HOCH2CH2O = HO2 + HOCH2CHO : 	KROPRIM*O2 	;
{68.} 	 ETHGLY + OH = HOCH2CHO + HO2 : 	1.45D-11 	;
{69.} 	 HOCH2CHO + NO3 = HOCH2CO3 + HNO3 : 	KNO3AL 	;
{70.} 	 HOCH2CHO + OH = GLYOX + HO2 : 	1.00D-11*0.200 	;
{71.} 	 HOCH2CHO + OH = HOCH2CO3 : 	1.00D-11*0.800 	;
{72.} 	 HOCH2CHO = HO2 + HCHO + HO2 + CO : 	J(15) 	;
{73.} 	 PERPROACID + OH = C2H5CO3 : 	4.42D-12 	;
{74.} 	 PERPROACID = C2H5O2 + OH : 	J(41) 	;
{75.} 	 PROPACID + OH = C2H5O2 : 	1.2D-12 	;
{76.} 	 PPN + OH = CH3CHO + CO + NO2 : 	1.27D-12 	;
{77.} 	 PPN = C2H5CO3 + NO2 : 	1.7D-3*EXP(-11280/TEMP) 	;
{78.} 	 C2H5OOH = C2H5O + OH : 	J(41) 	;
{79.} 	 OH + C2H5OOH = C2H5O2 : 	1.90D-12*EXP(190/TEMP) 	;
{80.} 	 OH + C2H5OOH = CH3CHO + OH : 	8.01D-12 	;
{81.} 	 C2H5NO3 = C2H5O + NO2 : 	J(52) 	;
{82.} 	 OH + C2H5NO3 = CH3CHO + NO2 : 	6.7D-13*EXP(-395/TEMP) 	;
{83.} 	 CH3OOH = CH3O + OH : 	J(41) 	;
{84.} 	 OH + CH3OOH = CH3O2 : 	5.3D-12*EXP(190/TEMP)*0.6 	;
{85.} 	 OH + CH3OOH = HCHO + OH : 	5.3D-12*EXP(190/TEMP)*0.4 	;
{86.} 	 CH3NO3 = CH3O + NO2 : 	J(51) 	;
{87.} 	 OH + CH3NO3 = HCHO + NO2 : 	4.0D-13*EXP(-845/TEMP) 	;
{88.} 	 CH3O = HCHO + HO2 : 	7.2D-14*EXP(-1080/TEMP)*O2 	;
{89.} 	 CH3O2NO2 = CH3O2 + NO2 : 	KMT14 	;
{90.} 	 CH3CO2H + OH = CH3O2 : 	8.00D-13 	;
{91.} 	 CH3CO3H + OH = CH3CO3 : 	3.70D-12 	;
{92.} 	 CH3CO3H = CH3O2 + OH : 	J(41) 	;
{93.} 	 PAN + OH = HCHO + CO + NO2 : 	3D-14 	;
{94.} 	 PAN = CH3CO3 + NO2 : 	KBPAN 	;
{95.} 	 HCOCH2OOH + OH = GLYOX + OH : 	2.91D-11 	;
{96.} 	 HCOCH2OOH + OH = HCOCH2O2 : 	1.90D-12*EXP(190/TEMP) 	;
{97.} 	 HCOCH2OOH = HCOCH2O + OH : 	J(41) 	;
{98.} 	 HCOCH2OOH = HO2 + CO + HCHO + OH : 	J(15) 	;
{99.} 	 HCOCH2O = HCHO + CO + HO2 : 	KDEC 	;
{100.} 	 GLYOX = CO + CO + H2 : 	J(31) 	;
{101.} 	 GLYOX = CO + CO + HO2 + HO2 : 	J(33) 	;
{102.} 	 GLYOX = HCHO + CO : 	J(32) 	;
{103.} 	 NO3 + GLYOX = HCOCO + HNO3 : 	KNO3AL 	;
{104.} 	 OH + GLYOX = HCOCO : 	3.1D-12*EXP(340/TEMP) 	;
{105.} 	 HOCH2CO3 + HO2 = HO2 + HCHO + OH : 	KAPHO2*0.44 	;
{106.} 	 HOCH2CO3 + HO2 = HOCH2CO2H + O3 : 	KAPHO2*0.15 	;
{107.} 	 HOCH2CO3 + HO2 = HOCH2CO3H : 	KAPHO2*0.41 	;
{108.} 	 HOCH2CO3 + NO = NO2 + HO2 + HCHO : 	KAPNO 	;
{109.} 	 HOCH2CO3 + NO2 = PHAN : 	KFPAN 	;
{110.} 	 HOCH2CO3 + NO3 = NO2 + HO2 + HCHO : 	KRO2NO3*1.74 	;
{111.} 	 HOCH2CO3 = HCHO + HO2 : 	1.00D-11*0.7*RO2 	;
{112.} 	 HOCH2CO3 = HOCH2CO2H : 	1.00D-11*0.3*RO2 	;
{113.} 	 HCOCO = CO + CO + HO2 : 	7.00D11*EXP(-3160/TEMP)+5.00D-12*O2 	;
{114.} 	 HCOCO = CO + OH : 	5.00D-12*O2*3.2*(1-EXP(-550/TEMP)) 	;
{115.} 	 HCOCO = HCOCO3 : 	5.00D-12*O2*3.2*EXP(-550/TEMP) 	;
{116.} 	 HOCH2CO2H + OH = HCHO + HO2 : 	2.73D-12 	;
{117.} 	 HOCH2CO3H + OH = HOCH2CO3 : 	6.19D-12 	;
{118.} 	 HOCH2CO3H = HCHO + HO2 + OH : 	J(41) 	;
{119.} 	 PHAN + OH = HCHO + CO + NO2 : 	1.12D-12 	;
{120.} 	 PHAN = HOCH2CO3 + NO2 : 	KBPAN 	;
{121.} 	 HCOCO3 + HO2 = HCOCO2H + O3 : 	KAPHO2*0.15 	;
{122.} 	 HCOCO3 + HO2 = HCOCO3H : 	KAPHO2*0.41 	;
{123.} 	 HCOCO3 + HO2 = HO2 + CO + OH : 	KAPHO2*0.44 	;
{124.} 	 HCOCO3 + NO = HO2 + CO + NO2 : 	KAPNO 	;
{125.} 	 HCOCO3 + NO2 = HO2 + CO + NO3 : 	KFPAN 	;
{126.} 	 HCOCO3 + NO3 = HO2 + CO + NO2 : 	KRO2NO3*1.74 	;
{127.} 	 HCOCO3 = CO + HO2 : 	1.00D-11*0.7*RO2 	;
{128.} 	 HCOCO3 = HCOCO2H : 	1.00D-11*0.3*RO2 	;
{129.} 	 HCOCO2H = HO2 + HO2 + CO : 	J(34) 	;
{130.} 	 OH + HCOCO2H = CO + HO2 : 	1.23D-11 	;
{131.} 	 HCOCO3H = HO2 + CO + OH : 	J(41)+J(15) 	;
{132.} 	 OH + HCOCO3H = HCOCO3 : 	1.58D-11 	;

